<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gdsc_vitbhopal.notegem">

    <!-- For the Calendar events features -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <!-- For reminders -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.USE_EXACT_ALARM"/>
    <!--to start the alarms after restart. (By default, all alarms are canceled when a device shuts down)-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".app.NoteGemApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.NoteGem">
        <activity
            android:name=".controller.main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.NoteGem">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".util.alarms.BootBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".util.alarms.AlarmReceiver"
            android:enabled="true" />
        <receiver
            android:name=".util.alarms.TaskActionButtonBroadcastReceiver"
            android:enabled="true" />

        <activity
            android:name=".controller.bookmarks.SaveBookmarkActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoDisplay"
            >
            <intent-filter android:label="@string/save_bookmark">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:name=".domain.useCase.tasks.AddTaskFromShareActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoDisplay"
            >
            <intent-filter android:label="@string/add_to_tasks">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

        </activity>
        <service
            android:name=".controller.tasks.AddTaskTileService"
            android:label="@string/add_task_to_notegem"
            android:icon="@drawable/ic_check"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>


        <!-- Calendar widget-->
        <receiver
            android:name=".controller.glance_widgets.CalendarWidgetReceiver"
            android:enabled="@bool/glance_appwidget_available"
            android:label="@string/calendar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/calendar_widget_info" />
        </receiver>

        <!-- For updating the events in the  calendar widget when there are changes-->
        <receiver
            android:name=".controller.glance_widgets.RefreshCalendarWidgetReceiver"
            android:enabled="@bool/glance_appwidget_available"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PROVIDER_CHANGED"/>
                <data android:scheme="content"/>
                <data android:host="com.android.calendar"/>
            </intent-filter>
        </receiver>

        <!-- Tasks widget-->
        <receiver
            android:name=".controller.glance_widgets.TasksWidgetReceiver"
            android:enabled="@bool/glance_appwidget_available"
            android:label="@string/tasks"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/tasks_widget_info" />
        </receiver>

        <receiver
            android:name=".controller.glance_widgets.CompleteTaskWidgetReceiver"
            android:enabled="@bool/glance_appwidget_available"
            android:exported="false">
        </receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>